<!DOCTYPE html>
<html>

   <head>
      <title>File Metadata Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Submit a file to view its filesize.</h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <div>
        <input type="file" name="file">
        <input type="submit">
      </div>
    </form>
   </body>

</html>
